#!/bin/bash
{{ if eq .chezmoi.os "linux" }}
set -eufo pipefail

# Check if Zsh is installed
if ! command -v zsh &> /dev/null; then
  echo "Zsh is not installed. Installing Zsh..."
  sudo apt update && sudo apt install -y zsh
fi

# Change the default shell to Zsh
sudo chsh -s /usr/bin/zsh "$(whoami)"
{{ end }}