{{/* boolean feature tags */}}
{{- $personal := true -}}{{/* true if this machine should have personal secrets from LastPass */}}
{{- $docker := true -}}

{{- $docker = promptBool "docker" -}}
{{- $bwemail := "" -}}
{{- $bwpass := "" -}}
{{- $personal = promptBool "personal" -}}
{{- if .personal -}}
{{- $bwemail = promptString "bwemail" -}}
{{- $bwpass = promptString "bwpass" -}}
{{- end -}}
{{- $email := promptString "email" -}}
{{- $name := "Gaurav Genani"}}
[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
    name = {{ $name | quote }}
    bwemail = {{ $bwemail | quote }}
    bwpass = {{ $bwpass | quote }}
    docker = {{ $docker }}
